* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: center;
    background-color: rgb(212, 189, 212);
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

h2 {
    margin: 2rem;
}

.container {
    width: 350px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

}

.box {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    margin: .2em;
}

.toasts {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
}

.toast {
    background: white;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin: .5rem;
}

.error {
    color: red;
}

.success {
    color: green;
}